window {
   background-image: url("/home/rallidars/dotfiles/.config/backgrounds/timezones0.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   background-color: black;
}
